{% extends 'base.html.twig' %}

{% block title %}Réclamations{% endblock %}

{% block content %}
<section id="container">
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> Gérer les réclamations</h3>


            <div class="row mt">
                <div class="col-md-12">
                    <div class="content-panel">
                        <table class="table table-striped table-advance table-hover">
{#                            <h4><i class="fa fa-angle-right"></i> Ajouter la réponse d'une réclamation</h4>#}
                            <div class="top-menu">
                                <ul class="nav pull-right top-menu" class="btn btn-primary btn-sm">
                                    <li>

                                    </li>
                                </ul>
                            </div>
                            <br>
                            <hr>

                            <tbody>

{#{% block body %}#}
    <h1>Affichage réclamations </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Date du problème</th>
                <th>Date Envoi</th>
                <th>Traitement</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.id }}</td>
                <td>{{ reclamation.description }}</td>
                <td>{{ reclamation.date  }}</td>
                <td> {{ 'now'|date('d-m-Y') }}</td>
                <td>{{ reclamation.traitement ? 'Yes' : 'No' }}</td>
                <td>{{ reclamation.type }}</td>
                <td>
{#                    <a href="{{ path('reclamation_show', {'id': reclamation.id}) }}">show</a>#}
{#                    <a href="{{ path('reclamation_edit', {'id': reclamation.id}) }}">edit</a>#}
                    <a href="{{ path('create', {'id': reclamation.id}) }}">répondre</a>
                    {{ include('reclamation/_delete_form.html.twig') }}



                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#    <a href="{{ path('reclamation_new') }}">Create new</a>#}


                            </tbody>
                        </table>
                    </div>
                    <!-- /content-panel -->
                </div>
                <!-- /col-md-12 -->
            </div>
            <!-- /row -->
        </section>
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            <p>
                <strong></strong>
            </p>
            <div class="credits">

                <a href="https://templatemag.com/"> </a>
            </div>
            <a href="basic_table.html#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--footer end-->
</section>
{% endblock %}

